/* Add your CSS below */

/* Example: adding a background color to the HTML body */
body {
  /* #ccc is shorthand HEX for a light grey */
  background: #ccc;
  font-family: helvetica, sans-serif;
  text-align: center;
}

h1 {
  padding-top: 30px;
  font-size: 70px;
}

p {
  padding: 30px;
  font-size: 25px;
  max-width: 800px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

img {
  padding: 30px;
}

.mast {
  background: #89cff0;
}
