/* Add your CSS below */

/* Example: adding a background color to the HTML body */
body {
  /* #ccc is shorthand HEX for a light grey */
  background: #ccc;
  font-family: helvetica, sans-serif;
}

.note-card{
  border: 8px solid black;
  background: linear-gradient(white, pink);
  border-radius: 25px;
  max-width: 600px;
  max-height: 400px;
  padding-left: 10px;
  /*margin: 0 auto;*/
}

.note-card, .recipeBasics {
  float: left;
  margin: 0 3%;
  width: 35%;
  display: inline;
}

.recipeBasics img {
  padding-left: 20px;
}

.recipeBasics ul {
  list-style-type: none;
}

.recipeBasics li {
  padding: 2px;
  font-size: 12px;
}

.note-card, .ingredients {
  float: left;
  margin: 0;
  width: 55%;
  display: inline;
}

.ingredients ul {
  list-style-type: none;
  font-size: 14px;
}
