/* Add your CSS below */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

.contact-body {
  font-family: 'Lato', sans-serif;
  background: #e2dedb;
  color: #b3aca7;
}

#form {
  /*position: relative;*/
  width: 500px;
  /*margin: 50px auto 100px auto;*/
  padding-top: 30px;
  margin: 0 auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #b3aca7;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 502px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;

  outline:none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


.header-fade-in {
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    animation-delay: 1.5s
}
.p-fade-in {
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    animation-delay: 2.5s
}

.ul-fade-in {
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    animation-delay: 2.5s
}

.content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.blurb, .me {
  flex: 1 1 0;
  height: 500px;
}

.blurb {
  background-color: #8c8c8c;
  max-width: 500px;
}

.skills {
  flex: 1 1 0;
  height: 500px;
  background-color: #8c8c8c;
}

.skills p {
  font-size: 25px;
  max-width: 700px;
  line-height: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.blurb h2 {
  font-size: 40px;
  margin: 50px 0 0 0;
  padding: 0 70px 0 70px;
}

.blurb p {
  font-size: 25px;
  line-height: 30px;
  padding: 15px 50px 0 50px;
}

.me {
  background-color: white;
}

.me p {
  font-size: 25px;
  line-height: 30px;
  padding: 30px 70px 0 70px;
}

.me img {
  margin: 40px 0 0 0;
  border: 7px solid white;
  border-radius: 30px;
}

.connect {
  display: flex;
  /*text-align: center;*/
}

.connect section {
  padding: 1 em;
  background-image: url('https://static.pexels.com/photos/6546/sky-night-space-trees.jpeg');
  background-size: cover;
  width: 100%;
  height: 500px;
  color: white;
}

.connect h2 {
  font-size: 40px;
  margin: 50px;
}

.connect ul {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0px;
  margin: 0;
}

.connect li {
  padding-bottom: 30px;
  font-size: 25px;
}

.gallery {
  display: inline-block;
}

/* Example: adding a background color to the HTML body */
body {
  /* #ccc is shorthand HEX for a light grey */
  background: #ccc;
  margin: 0 auto;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.home-header {
  background-image: url('https://static.pexels.com/photos/1780/landscape-nature-clouds-cloudy.jpg');
  background-size: cover;
  animation: fadeIn 4s;
  width: 100%;
  height: 820px;
}

.what-i-do-header {
  background-image: url('https://static.pexels.com/photos/2855/landscape-mountains-nature-lake.jpg');
  background-size: cover;
  animation: fadeIn 4s;
  width: 100%;
  height: 600px;
}

.contact-header {
  background-image: url('https://static.pexels.com/photos/8438/sky-clouds-moon-horizon.jpg');
  background-size: cover;
  animation: fadeIn 4s;
  width: 100%;
  height: 820px;
}

.resume-header {
  background-image: url('https://static.pexels.com/photos/2773/city-skyline-skyscrapers-top.jpg');
  background-size: cover;
  animation: fadeIn 4s;
  width: 100%;
  height: 820px;
}

.resume-header2 {
  background-image: url('https://static.pexels.com/photos/52599/pexels-photo-52599.jpeg');
  background-size: cover;
  animation: fadeIn 4s;
  width: 100%;
  height: 820px;
}

.resume-img {
  /*padding-top: 70px;*/
  margin-top: 70px;
  width: 75%;
  height: auto;
  border-radius: 50px;
  border: 10px solid #ffcccc;
}


h1.header {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 75px;
  color: white;
  margin: 275px 0 0 0;
}

p.header {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 25px;
  color: white;
}

h1.header2 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 75px;
  color: black;
  margin: 175px 0 0 0;
}

p.header2 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 25px;
  color: black;
}

h1.header3 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 75px;
  color: #b3aca7;
  margin: 125px 0 0 0;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {
  float: right;
}

ul.topnav li a {
  display: inline-block;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
  background-color: #cccccc;
  opacity: 0.75;
}

ul.topnav2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav2 li {
  float: right;
}

ul.topnav2 li a {
  display: inline-block;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav2 li a:hover {
  background-color: #cccccc;
  opacity: 0.75;
}

.grid {
    display: flex;
    justify-content: center;
    text-align: center;
}
.grid-cell {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    margin: 50px;
    font-size: 30px;
}

.button{
    background-color: #ffcccc;
    border-radius: 8px;
    color: white;
    padding: 0px 20px;
    margin-right: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 0px;
}

.button a {
  color: white;
  text-decoration: none;
}

#home {
}

#what-i-do {

}

#contact {

}

#resume {
}
