/* Add your CSS below */
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


.header-fade-in {
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    animation-delay: 1.5s
}
.p-fade-in {
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    animation-delay: 2.5s
}

.ul-fade-in {
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    animation-delay: 2.5s
}

.content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.blurb, .me {
  flex: 1 1 0;
  height: 500px;
}

.blurb {
  background-color: #8c8c8c;
  max-width: 500px;
}

.blurb h2 {
  font-size: 40px;
  margin: 50px 0 0 0;
  padding: 0 70px 0 70px;
}

.blurb p {
  font-size: 25px;
  line-height: 30px;
  padding: 15px 50px 0 50px;
}

.me {
  background-color: white;
}

.me p {
  font-size: 25px;
  line-height: 30px;
  padding: 30px 70px 0 70px;
}

.me img {
  margin: 40px 0 0 0;
  border: 7px solid white;
  border-radius: 30px;
}

.connect {
  display: flex;
  /*text-align: center;*/
}

.connect section {
  padding: 1 em;
  background-image: url('https://static.pexels.com/photos/6546/sky-night-space-trees.jpeg');
  background-size: cover;
  width: 100%;
  height: 500px;
  color: white;
}

.connect h2 {
  font-size: 40px;
  margin: 50px;
}

.connect ul {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0px;
  margin: 0;
}

.connect li {
  padding-bottom: 30px;
  font-size: 25px;
}

.gallery {
  display: inline-block;
}

/* Example: adding a background color to the HTML body */
body {
  /* #ccc is shorthand HEX for a light grey */
  background: #ccc;
  margin: 0 auto;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.home-header {
  background-image: url('https://static.pexels.com/photos/1780/landscape-nature-clouds-cloudy.jpg');
  background-size: cover;
  animation: fadeIn 4s;
  width: 100%;
  height: 820px;
}

.what-i-do-header {
  background-image: url('https://static.pexels.com/photos/2855/landscape-mountains-nature-lake.jpg');
  background-size: cover;
  animation: fadeIn 4s;
  width: 100%;
  height: 600px;
}

h1.header {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 75px;
  color: white;
  margin: 275px 0 0 0;
}

p.header {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 25px;
  color: white;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {
  float: right;
}

ul.topnav li a {
  display: inline-block;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
  background-color: #cccccc;
  opacity: 0.75;
}

#home {
}

#what-i-do {

}
