/* Add your CSS below */
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.header-fade-in {
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    animation-delay: 1.5s
}
.p-fade-in {
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    animation-delay: 2.5s
}

.ul-fade-in {
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    animation-delay: 3.5s
}
/* Example: adding a background color to the HTML body */
body {
  /* #ccc is shorthand HEX for a light grey */
  background: #ccc;
  margin: 0 auto;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

header {
  background-image: url('https://static.pexels.com/photos/1780/landscape-nature-clouds-cloudy.jpg');
  background-size: cover;
  animation: fadeIn 4s;
  width: 100%;
  height: 800px;
}

h1.header {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 75px;
  color: white;
  margin: 275px 0 0 0;
}

p.header {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 25px;
  color: white;
}

article.blurb {
  background-color: #8c8c8c;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 500px;
  max-width: 500px;
}

article.blurb h2 {
  font-size: 40px;
  margin: 50px 0 0 0;
}

article.blurb p {
  font-size: 25px;
  line-height: 30px;
  padding: 20px 0 0 0;
}

article.me {
  background-color: white;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 500px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {
  float: right;
}

ul.topnav li a {
  display: inline-block;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
  background-color: #cccccc;
  opacity: 0.75;
}

#home {
}
